<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div id="content-header" class="Container100">
          <div class="Fright">
		  <h:graphicImage id="help" name="images/help.png" styleClass="Wid10 Hei10 Fright" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}"/></div>
        <p:overlayPanel id="helppanel" showEvent="mouseover" hideEvent="mousedown" for="help" style="background-color: #ffffff;" hideEffect="fade" dynamic="true" class="Wid20">
              Help Here!!!
          </p:overlayPanel>
        <div class="Fleft"><ui:insert name="requiredField"><div class="Fs16 Fright leaden Wid100 MarAuto"> <b>Kindly provide all field marked <span class="red">*</span></b></div></ui:insert></div>
      
   </div>
</ui:composition>
