<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui">
    

<div id="layout-menubar" class="bigmenu Unselectable fontRegular">
	<div class="layout-menubarinner-box" id="buttonArea">
            <a href="javascript:;" id="layout-menubar-resize" class="BordRad3" title="Menu Resize"><i class="icon-th-list-2"></i></a>
            <a href="javascript:;" id="layout-menubar-resize2" class="BordRad3" title="Open Menu"><i class="icon-menu"></i></a>
	</div>
    
	<div class="layout-menubarinner-box" id="searchArea">
            <i class="icon-search floatLeft gray"></i>
            <input type="text" class="layout-menubar-search floatLeft Animated05" placeholder="Search Here"/>
	</div>
	
	<ul class="layout-menubar-container">
        <li id="sm_0" class="layout-menubar-default  firstnode"><a onclick="Sentinel.openSubMenu(this);" href="${request.contextPath}/dashboard"><i class="icon-home-outline yellow i"></i> Dashboard</a></li>
        <c:forEach var="menu" varStatus="menu_loop"  items="${userBean.userMenus}">
            <li id="sm_0${menu_loop.index}" class="layout-menubar-default layout-menubar-active firstnode"><a onclick="Sentinel.openSubMenu(this);" class="level-1"><i class="icon-gauge yellow i"></i> ${menu.label} <i class="icon-angle-down Fright"></i></a>
            <ul class="layout-menubar-submenu-container level_1">
                <c:forEach varStatus="meni_item_loop" items="${menu.items}" var="menuitem">
                   <li id="sm_${menu_loop.index}_${menu_item_loop.index}" class="layout-menubar-default"><a href="${request.contextPath}${menuitem.href}" class="marginLevel-1"><i class="icon-th yellow i"></i> ${menuitem.label}</a></li>
                </c:forEach>
            </ul>
		
        </li>
     	   </c:forEach>
    <!--
        <li id="sm_1" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" class="level-1"><i class="icon-gauge yellow i"></i> Sentinel Theme Samples <i class="icon-angle-down Fright"></i></a>
            <ul class="layout-menubar-submenu-container level_1">
                <li id="sm_1_0" class="layout-menubar-default"><a href="form-elements.xhtml" class="marginLevel-1"><i class="icon-doc-text-1 yellow i"></i> Form Elements Sample</a></li>
                <li id="sm_1_1" class="layout-menubar-default"><a href="data.xhtml" class="marginLevel-1"><i class="icon-th yellow i"></i> Data Components</a></li>
                <li id="sm_1_2" class="layout-menubar-default"><a href="datatable.xhtml" class="marginLevel-1"><i class="icon-table yellow i"></i> DataTable Sample</a></li>
                <li id="sm_1_3" class="layout-menubar-default"><a href="panel.xhtml" class="marginLevel-1"><i class="icon-magic yellow i"></i> Panel Components</a></li>
                <li id="sm_1_4" class="layout-menubar-default"><a href="overlay.xhtml" class="marginLevel-1"><i class="icon-newspaper yellow i"></i> Overlay Samples</a></li>
                <li id="sm_1_5" class="layout-menubar-default"><a href="menu.xhtml" class="marginLevel-1"><i class="icon-menu yellow i"></i> Menu Samples</a></li>
                <li id="sm_1_6" class="layout-menubar-default"><a href="messages.xhtml" class="marginLevel-1"><i class="icon-bell yellow i"></i> Messages Sample</a></li>
                <li id="sm_1_7" class="layout-menubar-default"><a href="file.xhtml" class="marginLevel-1"><i class="icon-docs yellow i"></i> File Sample</a></li>
                <li id="sm_1_8" class="layout-menubar-default"><a href="misc.xhtml" class="marginLevel-1"><i class="icon-beaker yellow i"></i> Misc Sample</a></li>
            </ul>
        </li>
        <li id="sm_2" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" class="level-1"><i class="icon-pin-outline yellow i"></i> Default Pages <i class="icon-angle-down Fright"></i></a>
            <ul class="layout-menubar-submenu-container level_1">
                <li id="sm_2_0" class="layout-menubar-default"><a href="empty-page.xhtml" class="marginLevel-1"><i class="icon-plus-squared-alt yellow i"></i> Default Empty Page</a></li>
                <li id="sm_2_1" class="layout-menubar-default"><a href="login.xhtml" class="marginLevel-1"><i class="icon-login yellow i"></i> Login Page</a></li>
                <li id="sm_2_2" class="layout-menubar-default"><a href="404.xhtml" class="marginLevel-1"><i class="icon-warning-empty yellow i"></i> 404, 500, Error Page</a></li>
                <li id="sm_2_3" class="layout-menubar-default"><a href="access-denied.xhtml" class="marginLevel-1"><i class="icon-warning-empty yellow i"></i> Access Denied Page</a></li>
            </ul>
        </li>
        <li id="sm_3" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" class="level-1"><i class="icon-sitemap yellow i"></i> Menu Hierarchy <i class="icon-angle-down Fright"></i></a>
            <ul class="layout-menubar-submenu-container level_1">
                <li id="sm_3_0" class="layout-menubar-default"><a onclick="Sentinel.openSubMenu(this);" class="marginLevel-1"><i class="icon-folder-empty yellow i"></i> Folder 1 <i class="icon-angle-down Fright"></i></a>
                    <ul class="layout-menubar-submenu-container level_2">
                        <li id="sm_3_0_0" class="layout-menubar-default"><a onclick="Sentinel.openSubMenu(this);" class="marginLevel-2"><i class="icon-folder-empty yellow i"></i> Folder 2 <i class="icon-angle-down Fright"></i></a>
                            <ul class="layout-menubar-submenu-container level_3">
                                <li id="sm_3_0_0_0" class="layout-menubar-default"><a onclick="Sentinel.openSubMenu(this);" class="marginLevel-3"><i class="icon-folder-empty yellow i"></i> Folder 3 <i class="icon-angle-down Fright"></i></a>
                                    <ul class="layout-menubar-submenu-container level_4">
                                        <li id="sm_3_0_0_0_0" class="layout-menubar-default" ><a href="#" class="marginLevel-4"><i class="icon-link yellow i"></i> Sub Link </a></li>
                                        <li id="sm_3_0_0_0_1" class="layout-menubar-default" ><a href="#" class="marginLevel-4"><i class="icon-link yellow i"></i> Sub Link </a></li>
                                        <li id="sm_3_0_0_0_2" class="layout-menubar-default" ><a href="#" class="marginLevel-4"><i class="icon-link yellow i"></i> Sub Link </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="sm_4" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" href="font-icons.xhtml" class="level-1"><i class="icon-book yellow i"></i> Font Icons</a></li>
        <li id="sm_5" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" href="empty-page.xhtml" class="level-1"><i class="icon-vcard yellow i"></i> User Profile</a></li>
        <li id="sm_6" class="layout-menubar-default  firstnode"><a onclick="Sentinel.openSubMenu(this);" href="empty-page.xhtml" class="level-1"><i class="icon-tasks yellow i"></i> Tasks</a></li>        
        <li id="sm_8" class="layout-menubar-default  firstnode"><a onclick="Sentinel.openSubMenu(this);" href="empty-page.xhtml" class="level-1"><i class="icon-phone yellow i"></i> Contact</a></li>
        <li id="sm_7" class="layout-menubar-default firstnode"><a onclick="Sentinel.openSubMenu(this);" href="documentation.xhtml" class="level-1"><i class="icon-graduation-cap yellow i"></i> Documentation</a></li>
	-->
	</ul>
	
</div>


</ui:composition>
