<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    
    <div id="layout-header" class="Unselectable fontRegular">
        <a href="dashboard.jsf" id="layout-logo">
            <h:graphicImage name="images/bank-logo.png" styleClass="Fleft" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}"/>
            <!--span class="Fs19 FontTitilliumSemiBoldItalic Fleft"><span class="softblue">COPORATE PAY:: UBA</span></span-->
        </a>
    	<ul id="sm-topmenu" class="layout-header-widgets white Fs14 MustResponsive">
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-user-male"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a class="white Unselectable"><i class="icon-user-male Fs26 OvHidden"></i><span class="Fs18">Cem ALTUN<br/><span class="Fs10">Last Login - 18.08.2014</span></span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-stopwatch-1"></i>User Tasks</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-users-2"></i>Create New User</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-sliders"></i>User Preferences</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-mail"></i><span class="alertBubble BordRad10 Fs9">166</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty yellow"></i>Çağatay Çivici<br/><span class="Fs10">Hi Cem, Thanks for system reports..</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Çağatay Çivici<br/><span class="Fs10">Hi Cem, Thanks for system reports..</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Steve Jobs<br/><span class="Fs10">Hi Cem, Thanks for system reports..</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty red"></i>Larry Ellison<br/><span class="Fs10">Hi Cem, Thanks for system reports..</span></a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-chat-empty"></i>Jeff Bezos<br/><span class="Fs10">Hi Cem, Thanks for system reports..</span></a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-bell"></i><span class="alertBubble BordRad10 Fs9">24</span>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>New Products</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag yellow"></i>Today Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Visit Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag red"></i>Sales Reports</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable TexAlRight"><i class="icon-flag"></i>Task Alerts</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-wrench-1"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-sun"></i>System Settings</a></li>
    				<li class="Animated05"><a href="#" class="white Unselectable"><i class="icon-lifebuoy"></i>Help Desk</a></li>
    			</ul>
    		</li>
    		<li class="Fleft BordRadHalf TexAlCenter"><i class="icon-power"></i>
    			<ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                            <li class="Animated05"><h:form><p:commandLink  action="${userBean.logout()}" value="Log Out" class="white Unselectable icon-logout" ></p:commandLink></h:form></li>
    			</ul>
    		</li>
    	</ul>
    	<!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
    	<ul class="layout-header-widgets white Fs14">
    		<li class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive NoDisplay" id="ResponsiveModeOneMenu"><i class="icon-th-1"></i></li>
    	</ul>
    	<!-- ****** -->
   	</div>
 
</ui:composition>
