<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

  <h:form id="approvalroutetablef">
      <div class="Container100"><div class="ContainerIndent"><h:outputText value="Approval Route" rendered="${approvalRouteBean.showAppRoute}" styleClass="FontBold Fs18 hardblue"></h:outputText></div></div>
    <div class="Container50 Responsive">
      
            <div class="ContainerIndent">
                <p:dataTable id="approvalroutetable" lazy="true" var="approute" 
                             value="${approvalRouteTableBean.lazyDataModel}" paginator="true" 
                             rows="#{approvalRouteTableBean.rowcount}" selectionMode="single" selection="#{approvalRouteBean.selectedItem}" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" rendered="${approvalRouteBean.showAppRoute}" >
                    <f:facet name="header">Approval Routes </f:facet>
                    <p:ajax event="rowSelect" listener="#{approvalRouteBean.onRowSelect}" update=":approuteform" />
                    <p:column headerText="Name" ><h:outputText value="#{approute.level}" /></p:column> 
                    <p:column headerText="Approver Name" ><h:outputText value="#{approute.approver.identity}" /></p:column>
                </p:dataTable>

                <h:outputText value="Select an Approval Type" styleClass="FontBold Fs18 hardblue" rendered="${not approvalRouteBean.showAppRoute}"></h:outputText>

            </div>
            <div class="ContainerIndent">
            </div>	
     	
    </div>
	</h:form>	
    <h:form id="approuteform">
        <div class="Container50 Responsive">
            <div class="ContainerIndent">
			  <h:panelGrid columns="2" rendered="#{approvalRouteBean.showAppRoute}" style="margin-bottom:10px" cellpadding="5">
			    <p:outputLabel for="flevel"  value="Level:" />
			    <p:spinner id="flevel"  value="${approvalRouteBean.selectedItem.level}"  min="1" max="5"  required="true"/>
			   <p:outputLabel for="approver"  value="Approver:" />
                           <p:selectOneMenu id="approver"  value="#{approvalRouteBean.selectedItem.approver}" required="true" converter="approverConverter" >
                                <f:selectItem itemLabel="--Select User or Group--" itemValue="" />  
                                <f:selectItems value="#{approvalRouteBean.approvers}" var="approver" itemLabel="#{approver.identity}" itemValue="#{approver}"  />  
                            </p:selectOneMenu> 
                          </h:panelGrid>
						 
                
            </div>
        </div>
     <div class="Container50"><div class="ContainerIndent">
                <p:commandButton value="Add Approval Route" style="display:#{approvalRouteBean.showAppRoute?'block':'none'}"  onstart="showProgress()" oncomplete="hideProgress()" update=":growl,:approvalroutetablef,:approuteform" action="#{approvalRouteBean.save}" styleClass="GreenButton Fleft" />

            </div>
        </div>
   
    </h:form>
	

</ui:composition>