<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable id="userTable" lazy="true" var="datauser" 
                 value="${userSetupTableBean.lazyDataModel}" paginator="true" 
                 rows="${userSetupTableBean.rowcount}"  selectionMode="single" selection="#{userSetupBean.selectedItem}" 
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                  rowsPerPageTemplate="5,10,15">
         <f:facet name="header">Users </f:facet>
         <p:ajax event="rowSelect" listener="#{userSetupBean.onRowSelect}" update=":userForm" />
          <p:column headerText="Username" ><h:outputText value="#{datauser.username}" /></p:column>
          <p:column headerText="First Name" ><h:outputText value="#{datauser.firstName}" /></p:column>
          <p:column headerText="Last Name" ><h:outputText value="#{datauser.lastName}" /></p:column>
    </p:dataTable>

</ui:composition>