<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="userForm">
        <div class="Container100"><div class="ContainerIndent"><h:outputText value="User" styleClass="FontBold Fs18 hardblue"></h:outputText></div></div>
        <div class="Container25 Responsive"><div class="ContainerIndent"><p:inputText styleClass="Wid90" value="${userSetupBean.selectedItem.username}" required="true" placeholder="User Name"/></div></div>
        <div class="Container25 Responsive"><div class="ContainerIndent"><p:inputText styleClass="Wid90" value="${userSetupBean.selectedItem.firstName}" required="true" placeholder="First Name"/></div></div>
          <div class="Container100"><div class="ContainerIndent">
                  <p:commandButton value="Save User" onstart="showProgress()" oncomplete="hideProgress()" update=":growl" action="#{userSetupBean.save}" styleClass="GreenButton Fleft" />
            </div>
         </div>
</h:form>

</ui:composition>