<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Corpotate Pay | Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        
    <h:outputScript name="js/layout.js" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
        <h:outputScript name="js/custom.js" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
    <h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
    <h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
    <h:outputStylesheet name="css/core-layout.css" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
    <h:outputStylesheet name="css/corporatepay.css" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}" />
</h:head>

<h:body class="fontRegular login-back white-back">
      <p:growl id="growl" />
      <div id="pmodal" class="processmodalhidden"></div>
    <div class="Container80 MaxWid500 Fnone MarAuto TexAlCenter PaddingTopPercent10">
        <a href="" id="login-logo">
            <h:graphicImage name="images/LOGO.svg" styleClass="Fleft" library="sentinel-layout_#{empty sessionScope.loginUser.bankCode?'700':sessionScope.loginUser.bankCode}"/>
            <span class="Fs30 FontTitilliumSemiBoldItalic Fleft"><span class="softblue">CORPORATE</span><span class="hardblue">PAY</span></span>
        </a>
        <div class="EmptyBox10"></div>
    </div>
    
    <!-- LOGIN BOX COVER START -->
    <h:form>
    <div class="Container80 MaxWid500 white-back Fnone MarAuto BordRad10" id="login-box">
        <div class="Container100">
            <div class="Container100 TexAlCenter Animated05 BoxSizeBorder TabBtn left TabBtnActiveLeft" role="1">
                <div class="Container80 Fnone MarAuto FontBold"><i class="icon-lock"></i> Login</div>
            </div>
            <!--div class="Container50 TexAlCenter Animated05 BoxSizeBorder TabBtn right" role="2">
                <div class="Container80 Fnone MarAuto FontBold"><i class="icon-key-1"></i> Permissions</div>
            </div-->
            
            <div class="Container90 Fnone MarAuto TexAlCenter TabContent" id="TAB1">
              
                <div class="EmptyBox50"></div>
                <p:inputText value="${userBean.user.username}" required="true" requiredMessage="kindly provide username" placeholder="Username" styleClass="Container80 Fnone MarAuto Fs18"/>
                <div class="EmptyBox10"></div>
                <p:password value="${userBean.user.password}" required="true" requiredMessage="kindly provide password" placeholder="Password" styleClass="Container80 Fnone MarAuto Fs18" feedback="false"/>
                <div class="EmptyBox20"></div>
                <div class="Container85 Fnone MarAuto softgray">
                    <p:selectBooleanCheckbox value="accept" styleClass="Fleft" itemLabel="I Accept Terms And Policies"/>
                </div>
                <div class="EmptyBox30"></div>
                <p:commandButton id="loginBtn" value="Log In" styleClass="Fs16" update=":growl" onstart="showProgress();" oncomplete="hideProgress();" action="${userBean.login}"></p:commandButton>
                <div class="EmptyBox50"></div>
              
            </div>
            
            <!--div class="Container90 Fnone MarAuto DispNone TexAlCenter TabContent" id="TAB2">
                <div class="EmptyBox50"></div>
                <p:inputText value="" placeholder="Your Email Address" styleClass="Container80 Fnone MarAuto Fs18"/>
                <div class="EmptyBox20"></div>
                <p:button  value="Send Access Request" styleClass="Fs16"></p:button>
                <div class="EmptyBox50"></div>
            </div-->
        </div>
    </div>
    </h:form>
    <!-- LOGIN BOX COVER END -->
    
</h:body>

</html>